<!-- feed-logo -->
<section class="searchSort">
  <div class="main">
    <div class="row">
      <div class="block">
        <h1 class="text-l"><b>Feed</b></h1>
      </div>
    </div>
  </div>
</section>
<!-- feed-logo-ends -->
<!-- searchandsortSection -->
<section class="searchSort">
  <div class="main">
    <div class="row">
      <div class="search">
        <div class="block">
          <input class="search_input" placeholder="Search" />
        </div>
      </div>
      <div class="sort">
        <div class="block">
          <select name="cars" id="sort" class="fl-r" (change)="handleSorting($event.target.value)">
            <option value="default">Default</option>
            <option value="title">Title</option>
            <option value="date">Date Created</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- searchandsortSection-ends -->
<!-- cardViewSection -->
<section class="cardView">
  <app-card-view 
  [feedData]="feedData"
  ></app-card-view>
</section>
<!-- cardViewSection-ends -->

<h3 class="made_by">Made with <span style="color: red;">♡</span></h3>